USE [master]
GO
/****** Object:  Database [DBHealthTurnos]    Script Date: 12/3/2026 21:27:13 ******/
CREATE DATABASE [DBHealthTurnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHealthTurnos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHealthTurnos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBHealthTurnos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHealthTurnos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHealthTurnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHealthTurnos]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 12/3/2026 21:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[FechaIngreso] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridad]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridad](
	[IdPrioridad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrioridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[Paciente] [varchar](100) NOT NULL,
	[Sexo] [varchar](15) NOT NULL,
	[IdAsistente] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdPrioridad] [int] NOT NULL,
	[Observaciones] [varchar](max) NULL,
	[Fecha] [date] NOT NULL,
	[IdEstado] [int] NOT NULL,
 CONSTRAINT [PK__Turno__C1ECF79A63DEAA23] PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwListaTurnos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwListaTurnos]
with schemabinding
as
select t.IdTurno, t.IdPaciente, t.Paciente, t.Sexo,
a.IdEmpleado IdAsistente,  a.Nombre,
m.IdEmpleado IdMedico, m.Nombre Medico,
p.Nombre Prioridad, t.Observaciones, t.Fecha,
e.Estado Estado
from dbo.Turno as t
inner join dbo.Empleado as a on t.IdAsistente = a.IdEmpleado
inner join dbo.Empleado as m on t.IdMedico = m.IdEmpleado
inner join dbo.Prioridad as p on t.IdPrioridad = p.IdPrioridad
inner join dbo.Estado as e on t.IdEstado = e.IdEstado
GO
/****** Object:  View [dbo].[vwReportesTurnosAtendidos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwReportesTurnosAtendidos]
with schemabinding
as
select t.IdTurno, t.IdPaciente, t.Paciente, t.Sexo,
a.IdEmpleado IdAsistente,  a.Nombre,
m.IdEmpleado IdMedico, m.Nombre Medico,
p.Nombre Prioridad, t.Observaciones, t.Fecha,
e.Estado Estado
from dbo.Turno as t
inner join dbo.Empleado as a on t.IdAsistente = a.IdEmpleado
inner join dbo.Empleado as m on t.IdMedico = m.IdEmpleado
inner join dbo.Prioridad as p on t.IdPrioridad = p.IdPrioridad
inner join dbo.Estado as e on t.IdEstado = e.IdEstado
where t.IdEstado = 3
GO
/****** Object:  View [dbo].[vwReportesTurnosCancelados]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwReportesTurnosCancelados]
with schemabinding
as
select t.IdTurno, t.IdPaciente, t.Paciente, t.Sexo,
a.IdEmpleado IdAsistente,  a.Nombre,
m.IdEmpleado IdMedico, m.Nombre Medico,
p.Nombre Prioridad, t.Observaciones, t.Fecha,
e.Estado Estado
from dbo.Turno as t
inner join dbo.Empleado as a on t.IdAsistente = a.IdEmpleado
inner join dbo.Empleado as m on t.IdMedico = m.IdEmpleado
inner join dbo.Prioridad as p on t.IdPrioridad = p.IdPrioridad
inner join dbo.Estado as e on t.IdEstado = e.IdEstado
where t.IdEstado = 4
GO
/****** Object:  View [dbo].[vwReportesTurnosFechas]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwReportesTurnosFechas]
with schemabinding
as
select t.IdTurno, t.IdPaciente, t.Paciente, t.Sexo,
a.IdEmpleado IdAsistente,  a.Nombre,
m.IdEmpleado IdMedico, m.Nombre Medico,
p.Nombre Prioridad, t.Observaciones, t.Fecha,
e.Estado Estado
from dbo.Turno as t
inner join dbo.Empleado as a on t.IdAsistente = a.IdEmpleado
inner join dbo.Empleado as m on t.IdMedico = m.IdEmpleado
inner join dbo.Prioridad as p on t.IdPrioridad = p.IdPrioridad
inner join dbo.Estado as e on t.IdEstado = e.IdEstado
where t.IdEstado in(3,4)
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Salario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IdEmpleado] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[NroLicencia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwListaMedicos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwListaMedicos]
with schemabinding
as
select e.IdEmpleado, e.Nombre, e.Apellido, e.Email, m.NroLicencia, x.Nombre as Especialidad
from dbo.Medico as m 
inner join dbo.Empleado as e on m.IdEmpleado = e.IdEmpleado
inner join dbo.Especialidad as x on m.IdEspecialidad = x.IdEspecialidad
GO
/****** Object:  Table [dbo].[Asistente]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistente](
	[IdEmpleado] [int] NOT NULL,
	[Turno] [varchar](20) NOT NULL,
	[Area] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwListaAsistente]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwListaAsistente]
with schemabinding
as
select e.IdEmpleado, e.Nombre, e.Apellido, e.Email, a.Turno, a.Area
from dbo.Asistente as a 
inner join dbo.Empleado as e on a.IdEmpleado = e.IdEmpleado
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Passwords] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwVerUsuarios]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[vwVerUsuarios]
with schemabinding
as
select u.IdUsuario, e.IdEmpleado, e.Nombre, e.Apellido, 
u.Username as Usuario, u.Passwords as Contraseña, r.Nombre as Rol
from dbo.Usuario as u
inner join dbo.Empleado as e on u.IdEmpleado = e.IdEmpleado
inner join dbo.Rol as r on u.IdRol = r.IdRol
GO
INSERT [dbo].[Asistente] ([IdEmpleado], [Turno], [Area]) VALUES (7, N'Tarde', N'Pediatría')
INSERT [dbo].[Asistente] ([IdEmpleado], [Turno], [Area]) VALUES (8, N'Noche', N'Cardiología')
INSERT [dbo].[Asistente] ([IdEmpleado], [Turno], [Area]) VALUES (9, N'Mañana', N'Neurología')
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [Email], [Telefono], [FechaIngreso]) VALUES (1, N'Cristal', N'Ramirez', N'cristal.ramirez@HealthTurnos.com', N'809-555-0000', CAST(N'2017-03-15' AS Date))
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [Email], [Telefono], [FechaIngreso]) VALUES (2, N'Carlos', N'Ruiz', N'carlos.ruiz@HealthTurnos.com', N'809-555-0001', CAST(N'2020-03-15' AS Date))
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [Email], [Telefono], [FechaIngreso]) VALUES (3, N'María', N'González', N'maria.gonzalez@HealthTurnos.com', N'809-555-0002', CAST(N'2019-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Salario]) VALUES (1, N'Cardiología', CAST(95000.00 AS Decimal(10, 2)))
INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Salario]) VALUES (2, N'Pediatría', CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Salario]) VALUES (3, N'Neurología', CAST(105000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IdEstado], [Estado]) VALUES (1, N'Pendiente')
INSERT [dbo].[Estado] ([IdEstado], [Estado]) VALUES (2, N'En Atención')
INSERT [dbo].[Estado] ([IdEstado], [Estado]) VALUES (3, N'Atendido')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
INSERT [dbo].[Medico] ([IdEmpleado], [IdEspecialidad], [NroLicencia]) VALUES (2, 1, N'LIC-00001')
INSERT [dbo].[Medico] ([IdEmpleado], [IdEspecialidad], [NroLicencia]) VALUES (3, 2, N'LIC-00002')
INSERT [dbo].[Medico] ([IdEmpleado], [IdEspecialidad], [NroLicencia]) VALUES (4, 3, N'LIC-00003')
GO
SET IDENTITY_INSERT [dbo].[Prioridad] ON 

INSERT [dbo].[Prioridad] ([IdPrioridad], [Nombre], [Descripcion]) VALUES (1, N'Normal', N'Solicitud de atención estándar, sin urgencia.')
INSERT [dbo].[Prioridad] ([IdPrioridad], [Nombre], [Descripcion]) VALUES (2, N'Prioritario', N'Requiere atención antes que las solicitudes normales.')
INSERT [dbo].[Prioridad] ([IdPrioridad], [Nombre], [Descripcion]) VALUES (3, N'Emergencia', N'Atención inmediata, situación crítica.')
SET IDENTITY_INSERT [dbo].[Prioridad] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Medico')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (3, N'Asistente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [Paciente], [Sexo], [IdAsistente], [IdMedico], [IdPrioridad], [Observaciones], [Fecha], [IdEstado]) VALUES (9, 1, N'Homer Simpson', N'Male', 7, 6, 1, N'Espere 10 minutos y el paciente no llego', CAST(N'2026-03-04' AS Date), 4)
INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [Paciente], [Sexo], [IdAsistente], [IdMedico], [IdPrioridad], [Observaciones], [Fecha], [IdEstado]) VALUES (11, 2, N'Marge Simpson', N'Female', 8, 6, 1, N'Ya esta bien de salud!!', CAST(N'2026-03-04' AS Date), 3)
INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [Paciente], [Sexo], [IdAsistente], [IdMedico], [IdPrioridad], [Observaciones], [Fecha], [IdEstado]) VALUES (12, 9, N'Ned Flanders', N'Male', 7, 2, 1, N'Prueba de consultas atendidas', CAST(N'2026-03-04' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [IdEmpleado], [IdRol], [Username], [Passwords]) VALUES (5, 12, 1, N'ha', N'as')
INSERT [dbo].[Usuario] ([IdUsuario], [IdEmpleado], [IdRol], [Username], [Passwords]) VALUES (6, 2, 2, N'carlos.ruiz', N'sa')
INSERT [dbo].[Usuario] ([IdUsuario], [IdEmpleado], [IdRol], [Username], [Passwords]) VALUES (7, 3, 2, N'maría.gonzález', N'es')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__A9D10534FBE2C6F0]    Script Date: 12/3/2026 21:27:14 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Medico__02389FA72001FD6A]    Script Date: 12/3/2026 21:27:14 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[NroLicencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__536C85E427DB0A9D]    Script Date: 12/3/2026 21:27:14 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__CE6D8B9FB5F3B8C9]    Script Date: 12/3/2026 21:27:14 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistente]  WITH CHECK ADD  CONSTRAINT [FK_Asistente_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Asistente] CHECK CONSTRAINT [FK_Asistente_Empleado]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Empleado]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_TurnoAsistente] FOREIGN KEY([IdAsistente])
REFERENCES [dbo].[Asistente] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_TurnoAsistente]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_TurnoEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_TurnoEstado]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_TurnoMedico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_TurnoMedico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_TurnoPrioridad] FOREIGN KEY([IdPrioridad])
REFERENCES [dbo].[Prioridad] ([IdPrioridad])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_TurnoPrioridad]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Asistente]  WITH CHECK ADD CHECK  (([Turno]='Noche' OR [Turno]='Tarde' OR [Turno]='Mañana'))
GO
/****** Object:  StoredProcedure [dbo].[spActualizarAsistente]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarAsistente]
    @IdEmpleado INT,
    @Turno      VARCHAR(50),
    @Area       VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Asistente
    SET Turno = @Turno,
        Area  = @Area
    WHERE IdEmpleado = @IdEmpleado;
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarEmpleado]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarEmpleado]
    @IdEmpleado   INT,
    @Nombre       VARCHAR(100),
    @Apellido     VARCHAR(100),
    @Email        VARCHAR(150),
    @Telefono     VARCHAR(20),
    @FechaIngreso DATE
AS
set nocount on
BEGIN
    UPDATE Empleado
    SET
        Nombre       = @Nombre,
        Apellido     = @Apellido,
        Email        = @Email,
        Telefono     = @Telefono,
        FechaIngreso = @FechaIngreso
    WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarEspecialidad]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarEspecialidad]
    @IdEspecialidad INT,
    @Nombre VARCHAR(100),
    @Salario DECIMAL(10,2)
AS
BEGIN
    UPDATE Especialidad
    SET Nombre = @Nombre,
        Salario = @Salario
    WHERE IdEspecialidad = @IdEspecialidad
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarMedico]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarMedico]
    @IdEmpleado     INT,
    @IdEspecialidad INT,
    @NroLicencia    VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Medico
    SET IdEspecialidad = @IdEspecialidad,
        NroLicencia    = @NroLicencia
    WHERE IdEmpleado = @IdEmpleado;
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarRol]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarRol]
    @IdRol INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Rol
    SET Nombre = @Nombre
    WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarTurno]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarTurno]
    @IdTurno    INT,
    @Observaciones  NVARCHAR(500),
    @IdEstado   INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Turno
    SET
        Observaciones   = @Observaciones,
        IdEstado        = @IdEstado
    WHERE
        IdTurno = @IdTurno;
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarUsuario]
    @IdUsuario  INT,
    @IdEmpleado INT,
    @IdRol      INT,
    @Username   VARCHAR(50),
    @Passwords  VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuario
    SET IdEmpleado = @IdEmpleado,
        IdRol      = @IdRol,
        Username   = @Username,
        Passwords  = @Passwords
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarAsistente]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarAsistente]
    @IdEmpleado INT,
    @Turno      VARCHAR(50),
    @Area       VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Asistente (IdEmpleado, Turno, Area)
    VALUES (@IdEmpleado, @Turno, @Area);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarEmpleado]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarEmpleado]
    @Nombre       VARCHAR(100),
    @Apellido     VARCHAR(100),
    @Email        VARCHAR(150),
    @Telefono     VARCHAR(20),
    @FechaIngreso DATE
AS
set nocount on
BEGIN
    INSERT INTO Empleado (Nombre, Apellido, Email, Telefono, FechaIngreso)
    VALUES (@Nombre, @Apellido, @Email, @Telefono, @FechaIngreso)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarEspecialidad]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarEspecialidad]
    @Nombre VARCHAR(100),
    @Salario DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Especialidad (Nombre, Salario)
    VALUES (@Nombre, @Salario)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarMedico]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarMedico]
    @IdEmpleado     INT,
    @IdEspecialidad INT,
    @NroLicencia    VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Medico (IdEmpleado, IdEspecialidad, NroLicencia)
    VALUES (@IdEmpleado, @IdEspecialidad, @NroLicencia);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarRol]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarRol]
    @Nombre VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Rol (Nombre)
    VALUES (@Nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarTurno]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertarTurno]
    @IdPaciente    INT,
    @Paciente varchar(50),
    @Sexo varchar(15),
    @IdAsistente   INT,
    @Fecha         DATETIME,
    @IdMedico      INT,
    @IdPrioridad   INT,
    @Observaciones VARCHAR(max) = NULL,
    @IdEstado      INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Turno (IdPaciente, Paciente, Sexo, IdAsistente, Fecha, IdMedico, IdPrioridad, Observaciones, IdEstado)
    VALUES           (@IdPaciente, @Paciente, @Sexo, @IdAsistente, @Fecha, @IdMedico, @IdPrioridad, @Observaciones, @IdEstado);

END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarUsuario]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarUsuario]
    @IdEmpleado INT,
    @IdRol      INT,
    @Username   VARCHAR(50),
    @Passwords  VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuario (IdEmpleado, IdRol, Username, Passwords)
    VALUES (@IdEmpleado, @IdRol, @Username, @Passwords);
END
GO
/****** Object:  StoredProcedure [dbo].[spListaTurnos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spListaTurnos]
@id int
as
begin
set nocount on
select * from vwListaTurnos where IdAsistente = @id or IdMedico = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spPrimerTurno]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[spPrimerTurno]
(
@IdMedico int
)
as
begin
select top 1 t.IdTurno, t.Fecha, t.IdPaciente, t.Paciente, t.Sexo,
p.Nombre as Prioridad, t.Observaciones, e.Estado as Estado
from Turno as t
inner join Prioridad as p on p.IdPrioridad = t.IdPrioridad
inner join Estado as e on e.IdEstado = t.IdEstado
where (t.IdEstado = 2 or t.IdEstado = 1) and 
(t.IdPrioridad = 3 or t.IdPrioridad = 2 or t.IdPrioridad = 1) and 
IdMedico = @IdMedico order by IdTurno asc
end
GO
/****** Object:  StoredProcedure [dbo].[spTotalTurnos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spTotalTurnos]
as
set nocount on
begin
select * from Turno
end 
GO
/****** Object:  StoredProcedure [dbo].[spValidarUsuario]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spValidarUsuario]
    @Username  NVARCHAR(50),
    @Passwords NVARCHAR(50)
AS
BEGIN
    SELECT IdUsuario 
    FROM Usuario
    WHERE Username = @Username 
      AND Passwords = @Passwords
END
GO
/****** Object:  StoredProcedure [dbo].[spVerAsistente]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerAsistente]
as 
set nocount on
begin
select * from vwListaAsistente
end
GO
/****** Object:  StoredProcedure [dbo].[spVerEmpleados]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerEmpleados]
as
set nocount on
select * from Empleado
GO
/****** Object:  StoredProcedure [dbo].[spVerEspecialidad]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerEspecialidad]
as
set nocount on
begin
select * from Especialidad
end
GO
/****** Object:  StoredProcedure [dbo].[spVerMedicos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerMedicos]
as 
set nocount on
begin
select * from vwListaMedicos
end
GO
/****** Object:  StoredProcedure [dbo].[spVerPrioridades]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spVerPrioridades]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdPrioridad,
        Nombre,
        Descripcion
    FROM Prioridad
    ORDER BY IdPrioridad;
END
GO
/****** Object:  StoredProcedure [dbo].[spVerReporteTurnosAtentidos]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerReporteTurnosAtentidos]
(
@id int
)
as
set nocount on
begin
select * from vwReportesTurnosAtendidos where IdAsistente = @id or IdMedico = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spVerReporteTurnosCancelados]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerReporteTurnosCancelados]
(
@id int
)
as
set nocount on
begin
select * from vwReportesTurnosCancelados where IdAsistente = @id or IdMedico = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spVerReporteTurnosRangoFecha]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerReporteTurnosRangoFecha]
(
@id int,
@Inicio date,
@Fin date
)
as
set nocount on
begin
select * from vwReportesTurnosFechas where IdAsistente = @id or IdMedico = @id and Fecha between @Inicio and @Fin
end
GO
/****** Object:  StoredProcedure [dbo].[spVerRoles]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spVerRoles]
as
set nocount on
begin
select * from Rol
end
GO
/****** Object:  StoredProcedure [dbo].[spVerUsuarios]    Script Date: 12/3/2026 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[spVerUsuarios]
as
set nocount on
begin
select * from vwVerUsuarios
end
GO
USE [master]
GO
